<a href="https://colab.research.google.com/github/dbremont/Notas/blob/main/Ingenerare/Databases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- SQL Lite Source Code
  - Build & Debug
- Virtual Machines
- Parser
- B-Tree ...
- Para instalar SQLite hay que primero instalar tlc
- Para ma;na tratar de ./configure && make en folder correctamente y ejecutar la shell y crear una tabla simple.

----

- Hacer fork a Simple DB MIT y verificar el codigo.
- Cuantas clases hay,
- Cuantas lineas de codigo hay.
- Cuantos comentario hay.
- Cuantas interfaces hay.
- Cuantas enum hay.

- Puedo compilarlo y generar el jar.
- Puedo usar el jar?

- Resumen de Terminologia.

## Primario


* [15-445/645 Introduction to Database Systems](https://15445.courses.cs.cmu.edu/fall2019/)

* [15-721 Advanced Database Systems](https://15721.courses.cs.cmu.edu/spring2020/)

## Secundario

* [CS6530: Graduate-level Database System](https://www.cs.utah.edu/~lifeifei/cs6530/)

* [CS 276 / LING 286: Information Retrieval and Web Search](http://web.stanford.edu/class/cs276/)

* [6.830/6.814: Database Systems](http://dsg.csail.mit.edu/6.830/index.php) 

* [6.033 Computer System Engineering](http://web.mit.edu/6.033/www/index.shtml)

* [A Celebration of Mike Stonebraker](https://www.youtube.com/playlist?list=PLSE8ODhjZXjZO802SjzqBFFlkuKglgbZD)

* [How To Compile SQLite](https://sqlite.org/howtocompile.html)

- Relational Databases
- Storage
- Execution
- Concurrency Control
- Recovery
- Distributed Databases
- Potpourri

BusTub

- Disk-based Storage,
- Volcano-style Query Processing,
- Pluggable APIs
- Currently does not support SQL

## 01 Relational Model

**Database**: Organized collectio nof inter-related data that models some aspect of the real-world.

- Ej. Create a database that models a diginal music store to keep track of artists and albumns.

**Database Management System**: Is a software system that allows applications to store and analyze information in a database.  

A general-purpose DBMS is designed to allow the definition, creation, querying, update, and administration of databases.

Database abstraction to avoid this
maintenance:
-  Store database in simple data structures.
- Access data through high-level language,
DBMS figures out best strategy.
-  Physical storage left up to the DBMS
implementation.

Data Models

- A data model is a collection of concepts for
describing the data in a database.
  - Relational,
  - Key/Value,
  - Graph,
  - Document,
  - Column-family,
  - Array/Matrix,
  - Hierarchical,
  - Network,
  - Multi-Value

- A schema is a description of a particular collection
of data, using a given data model.

Relational Data Model

- **Structure**: The Definition of the database's relations and their contents.
- **Integrity**: Ensure the database's contents sastify constrains.
- **Manipulation**: Programming interface for accesing and modifying a database's contents.

### Relational Data Model Concepts

- A Relation: is an unordered set that contain the relationship of attributes that represents entities.
- A tuple: is a set of attribute values (also kknown as its domain) in the relation.
 - Values are (normally) atomic/scalar.
 - The special value NULL is a member of every domain.

Primary Keys: A relation's primary keys uniquely identifies a single tuple.
- Some DBMSs automatically create an internal primary key if a table does not defined one.
- Auto-generation of unique integer primary keys:
  - Sequence (sql:2003)
  - Auto_Increment (MySQL)

Foreign Keys:
- A *foreign key* specifies that an attribute from one relation has to map to a tuple in another relation.

Data Manipulation Languages (DML)

- Methods to store and retrieve information from a database.
- Procedural: The query specifites the (high-level) strategy the DBMS should use to find the desired result. (Relational Algebra)
- Non-Procedural: The query specifies only what data is wanted and not how to find it. (Relational Calculus)

Relational Algebra:

- **Note**: Relational algebra still defines the high-level steps of how to compute a query. A better approach is to state the high-level answer that you want  the DBMS to compute.

- Defines the primitives for processing queries on a relational database.

- Fundamental operations that retrieve and manipulate tuples in a relation.
- Each *operator* takes one or more relation as its inputs and ouputs a new relation. "We can 'chain' operators together to create  more complex operations".


- Select: Choose a subset of tuples from a relation that sastisfies a selection predicate.
- Projection: Generate a relation with tuples that contains only the specifies attributes.
- Union: Generate a relation that constains all tuples that appear in either only one or both input relations.
- Intersection: Generate a relation that contains only the tuples that appear in both of the input relations.
- Difference: Generate a relation that contains only the tuples 
- Product: Generate a relation that contains all possible combinations of tuples from the input relations.
- Join: Generate a relation that contains all tuples that are combination of two tuples(one from each input relation)  which a commmon value(s) from one or more attributes.


Extra Operators:
 - Rename,
 - Assign,
 - Duplicate Elimination,
 - Aggregation,
 - Sorting,
 - Division

Queries:
- The relational model is independent of any query language   implementation. 
- *SQL* is the *de fato* standard (many dialects).

## 02 Intermediate SQL

Relational Languages

- User only needs to specify the answer that they want, not how to compute it.
- Specificy == Describe
- The DBMS is responsible for efficient evaluation of the query.
- High-end systems have a sophisticated "query optimizer" that can rewrite queries and search for optimal execution strategies.

SQL History

- IBM's first query language was called "SQUARE".
- Current standard is SQL:2016
- SQL:2016 - JSON, Polymorphic tables
- SQL:2011 - Temporal DBs, Pipelined DML
- SQL:2008 - Truncation, Fancy Sorting
- SQL:2003 - XML, Windows, Sequences, Auto-Gen IDs.
- SQL:1999 - Regex, Triggers, OO

- Data Manipulation Language (DML)
- Data Definition Language (DDL)
- Data Control Language (DCL)
 
- SQL is based on bags (duplicates) not sets (no duplicates).


Aggregations + Group By
String / Date / Time Operations
Output Control + Redirection
Nested Queries
Common Table Expressions
Window Functions

Aggregates
Functions that return a single value from a bag of tuples:
- AVG(col)→ Return the average col value.
- MIN(col)→ Return minimum col value.
- MAX(col)→ Return maximum col value.
- SUM(col)→ Return sum of values in col.
- COUNT(col)→ Return # of values for col.
- Distinct Aggregates : COUNT, SUM, AVG support DISTINCT


Group By
- Project tuples into subsets and calculate aggregates against each subset. 

Having
- Filters results based on aggregation computation.

String Operations
SQL-92   | Sensitive 	| Single  Only
Postgres | Sensitive	| Single Only
MySQL    | Insensitive | Single/Double
SQLite   | Sensitive   | Single/Double
DB2      | Sensitive   | Single Only
Oracle   | Sensitive   | Single Only

- LIKE is used for string matching. 
  - String-matching operators
	  - '%' Matches any substring (including empty strings).
	  - '_' Match any one character
 - SQL standard says to use || operator to concatenate two or more strings together.

- DATE/TIME OPERATIONS  

- Operations to manipulate and modify DATE/TIME attributes

Output Redirection

Store query results in another table
- Table must not already be defined.
- Table wil have the same # columns with the same types as the input.
- INSERT INTO CourseIds (SELECT DISTINCT cid FROM enrolled); SQL92

Output Control
- Order BY <column*> [ASC | DESC]
- SELECT sid, grade FROM enrolled WHERE cid = '15-721' ORDER BY grade
- LIMIT <count> [offset]

Nested Queries
- Queries containing other queries.
- They are often difficult to optimize.
- Inner queries can appear (almost) anywhere in query.
- SELECT name FROM student WHERE sid IN (SELECT sid FROM enrolled)
- ALL - Must satisfy expression for all rows in the sub-query.
- ANY - Must satisfy expression for at least one row in the sub-query.
- IN  - Equivalent to '=ANY()' .
- EXISTS -  At least one row is returned.

Window Functions
- Performs a "sliding" calculation across a set of tuples that are related.
- Like an aggregation but tuples are not grouped into a single output tuples.
- SELECT ... FUNC-NAME(...) OVER (...) FROM tableName
- FUNC-NAME: Aggregation Functions Special Functions
- OVER: How to "slice" up data - Can also sort
   - Use PARTITION BY to specify group.  OVER (PARTITION BY cid)
- Aggregation functions: Anything that we discussed earlier
- Special window functions: 
   - ROW_NUMBER() :  # of the current row
   - RANK() :  Order position of the current row.
- SELECT cid, sid, ROW_NUMBER() OVER (PARTITION BY cid) FROM enrolled ORDER BY cid 

Common Table Expressions

- Provides a way to write auxiliary statements for use in a larger query.
- WITH cteName AS (
	SELECT 1
)
SELECT * FROM cteName

CTE Recursion
- Print the sequence of numbers from 1 to 10
- WITH RECURSIVE cteSource (counter) AS (
(SELECT 1)
UNION ALL
(SELECT counter + 1 FROM cteSource
WHERE counter < 10)
)
SELECT * FROM cteSource
-